<% if object.errors.any? %>
  <div class="alert alert-error alert-block">
    <h4 class="alert-heading">Oops! <%= pluralize(object.errors.count, "error") %> found</h4>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>