<!-- Footer Partial -->
<hr>
<footer>
  <p>
    <%= link_to "Home", root_path %> | 
    <%= link_to "About", about_path %> | 
    <%= link_to "Help", help_path %> | 
    <%= link_to "Contact", contact_path %> | 
    © Wine Folly 2012
  </p>
</footer>
<!-- END Footer Partial -->